.toast {
  z-index: 9999;
  position: fixed;
  right: 15px;
  width: 288px;
  padding: 12px 12px;
  text-align: center;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  transition: opacity 300ms ease-in;
  @include hardware-accelerate;

  &.toast-enter,
  &.toast-exit.toast-exit-active {
    opacity: 0;
  }

  &.toast-exit,
  &.toast-enter.toast-enter-active {
    opacity: 1;
  }

  &.is-success {
    background: $success;
  }
  &.is-error {
    background: $danger;
  }
  &.is-info {
    background: $main;
  }
}
